---
import Facebook from "../../components/icons/Facebook.astro";
import Github from "../../components/icons/Github.astro";
import Linkedin from "../../components/icons/Linkedin.astro";
import Mail from "../../components/icons/Mail.astro";
import PDFRedirect from "../../components/icons/PDFRedirect.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Joan Cardozo | Web Portfolio">
    <div id="presentation">
        <div id="presentation_aside">
            <div id="MiniProfileMain">
                <img
                    src="/profilepicture.webp"
                    alt="Joan Sebastian Cardozo Salinas"
                    width="250px"
                    height="250px"
                    id="MiniProfileMainPicture"
                />
            </div>
            <div id="MiniProfileComplement">
                <h2 id="MiniProfileMainName">JOAN SEBASTIAN CARDOZO SALINAS</h2>
                <p id="MiniProfileMainDescription">FullStack Web Developer</p>
                <ul id="MiniProfileComplement-Links">
                    <li class="MiniProfileComplement-LinksItems">
                        <a
                            href="https://github.com/PintoGamer64"
                            rel="external"
                            id="AsideGithubLink"
                            aria-label="Mas de mis proyectos en Github"
                        >
                            <Github />
                        </a>
                    </li>
                    <li class="MiniProfileComplement-LinksItems">
                        <a
                            href="https://www.linkedin.com/in/joancardozo/"
                            rel="external"
                            id="AsideLinkedinLink"
                            aria-label="Mas sobre mi experiencia en Linkedin"
                        >
                            <Linkedin />
                        </a>
                    </li>
                    <li class="MiniProfileComplement-LinksItems">
                        <a
                            href="mailto:cardozojoan13@gmail.com"
                            rel="external"
                            id="AsideMailLink"
                            aria-label="Escribeme por correo si quieres contactarme"
                        >
                            <Mail />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="about">
        <br />
        <div id="about_title">
            <h1>Sobre Mi</h1>
            <div id="AvailableWork">
                <span id="AvailableWork_Text">
                    <div id="AvailableWork_Text_Content">Available to work</div>
                    <span id="AvailableWork_Text_Conic"></span>
                </span>
            </div>
        </div>
        <p id="about_text">
            Systems Engineering student with knowledge in design, creation and
            optimization of web applications, passionate about open source and
            looking to expand my knowledge by contributing something to the
            community :D
        </p>
        <div id="about_links">
            <a
                class="UrlsButtons"
                href="/Joan%20Cardozo%20CV.pdf"
                rel="archives"
                id="about_cv"
            >
                <p>Curriculum</p>
                <PDFRedirect />
            </a>
            <a
                class="UrlsButtons"
                href="/ComisionesPintoGamer64.pdf"
                rel="archives"
                id="about_comissions"
            >
                <p>Commissions</p>
                <PDFRedirect />
            </a>
        </div>
    </div>
    <div id="experience">
        <h1 id="experience_title">Experience</h1>
        <ul id="experience_jobs">
            <li class="experience_job">
                <h2 class="experience_job_title">Trainee | SENA Intern</h2>
                <h3 class="experience_job_company">
                    NETLOGISTIK | October 2022 - April 2023
                </h3>
                <p class="experience_job_text">
                    Participate in the development of tools that accelerate
                    command packaging for the BlueYonder platform
                </p>
            </li>
        </ul>
    </div>
    <div id="projects">
        <h1 id="projects_title">Proyectos</h1>
        <div id="projects_elements">
            <div class="projects_element">
                <div class="projects_element_data">
                    <div class="projects_element_content">
                        <div class="projects_element_content_title">
                            <h2>PngtubeStudio</h2>
                            <span class="SpanStatus continue">Developing</span>
                        </div>
                        <div class="projects_element_content_dates">
                            <h3>November 2023</h3>
                        </div>
                        <div class="projects_element_content_descripcion">
                            <p>
                                An alternative for content creators who use
                                virtual avatars, integrating tools more
                                dedicated to the Pngtuber format
                            </p>
                        </div>
                    </div>
                    <div class="projects_element_image">
                        <img
                            src="/PngtubeStudio.webp"
                            alt="PngtubeStudio"
                            width="150px"
                            height="150px"
                        />
                    </div>
                </div>
                <hr class="projects_element_separator" />
                <div class="projects_element_secundary">
                    <div class="projects_element_secondary_links">
                        <a
                            class="UrlsButtons"
                            href="https://github.com/PintoGamer64/PngtubeStudioProject"
                            rel="external">GitHub</a
                        >
                        <a
                            class="UrlsButtons"
                            href="https://objects.githubusercontent.com/github-production-release-asset-2e65be/782785618/219b65e5-876b-4084-bcd0-e6f799db353c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240413%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240413T233309Z&X-Amz-Expires=300&X-Amz-Signature=6fed6da3b8596802fe183f9f59644c8c6bfca9c9c232818f5cec1db8dacc79ab&X-Amz-SignedHeaders=host&actor_id=84690368&key_id=0&repo_id=782785618&response-content-disposition=attachment%3B%20filename%3DPngtubeStudio-Setup-1.1.0.exe&response-content-type=application%2Foctet-stream"
                            rel="external"
                            target="_blank">Download</a
                        >
                    </div>
                    <div class="projects_element_secondary_techs">
                        <img
                            class="projects_element_secondary_techs_icons"
                            src="/NodeLogo.webp"
                            width="30px"
                            height="30px"
                            alt="NodeJs"
                            id="corelvector"
                        />
                        <img
                            class="projects_element_secondary_techs_icons"
                            src="/ViteLogo.webp"
                            width="30px"
                            height="30px"
                            alt="Vite"
                            id="corelvector"
                        />
                        <img
                            class="projects_element_secondary_techs_icons"
                            src="/ReactLogo.webp"
                            width="30px"
                            height="30px"
                            alt="ReactJs"
                            id="corelvector"
                        />
                        <img
                            class="projects_element_secondary_techs_icons"
                            src="/ElectronLogo.webp"
                            width="30px"
                            height="30px"
                            alt="ElectronJs"
                            id="corelvector"
                        />
                        <p id="projects_element_secondary_techs_name"></p>
                    </div>
                </div>
            </div>
            <div class="projects_element">
                <div class="projects_element_data">
                    <div class="projects_element_content">
                        <div class="projects_element_content_title">
                            <h2>Spotify Clon</h2>
                            <span class="SpanStatus continue">Developing</span>
                        </div>
                        <div class="projects_element_content_dates">
                            <h3>June 2024</h3>
                        </div>
                        <div class="projects_element_content_descripcion">
                            <p>
                                A recreation of the <a
                                    class="urls"
                                    target="_blank"
                                    href="https://open.spotify.com/">Spotify</a
                                > streaming service as a web and desktop application
                                including Music Download, Account Creation, Rest
                                API, etc. being a functional version of this <a
                                    class="urls"
                                    target="_blank"
                                    href="https://www.youtube.com/watch?v=suhEIUapSJQ"
                                    >Interface</a
                                >
                            </p>
                        </div>
                    </div>
                    <div class="projects_element_image">
                        <img
                            src="/SpotifyLogo.webp"
                            alt="PngtubeStudio"
                            width="150px"
                            height="150px"
                        />
                    </div>
                </div>
                <hr class="projects_element_separator" />
                <div class="projects_element_secundary">
                    <div class="projects_element_secondary_links">
                        <a
                            class="UrlsButtons"
                            target="_blank"
                            href="https://github.com/PintoGamer64/SpotifyClon"
                            rel="external">GitHub</a
                        >
                        <a
                            class="UrlsButtons"
                            href="https://spotify-clon-interface.vercel.app/"
                            rel="external"
                            target="_blank">Web</a
                        >
                        <a class="url_disable" href="#" rel="external"
                            >Download</a
                        >
                    </div>
                    <div class="projects_element_secondary_techs">
                        <img
                            class="projects_element_secondary_techs_icons"
                            src="/NodeLogo.webp"
                            width="30px"
                            height="30px"
                            alt="NodeJs"
                            id="corelvector"
                        />
                        <img
                            class="projects_element_secondary_techs_icons"
                            src="/ViteLogo.webp"
                            width="30px"
                            height="30px"
                            alt="Vite"
                            id="corelvector"
                        />
                        <img
                            class="projects_element_secondary_techs_icons"
                            src="/ReactLogo.webp"
                            width="30px"
                            height="30px"
                            alt="ReactJs"
                            id="corelvector"
                        />
                        <img
                            class="projects_element_secondary_techs_icons"
                            src="/ElectronLogo.webp"
                            width="30px"
                            height="30px"
                            alt="ElectronJs"
                            id="corelvector"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="jobs">
        <h1 id="jobs_title">Commissions</h1>
        <div id="jobs_elements">
            <div class="jobs_element">
                <div class="jobs_element_data">
                    <div class="jobs_element_content">
                        <div class="jobs_element_content_title">
                            <h2>Review de Estudiantes Blue Archive</h2>
                        </div>
                        <div class="jobs_element_content_dates">
                            <h3>
                                Diseño <!-- <span class="SpanStatus complete">Abril 2024</span> -->
                            </h3>
                        </div>
                        <div class="jobs_element_content_descripcion">
                            <p>
                                Requested by <a
                                    class="urls"
                                    href="https://www.youtube.com/@Tenma21"
                                    target="_blank"
                                    rel="noopener noreferrer">Final Tenma</a
                                >, a redesign of its student reviews section was
                                agreed to show all the data based on the Blue
                                Archive video game
                            </p>
                        </div>
                    </div>
                    <div class="jobs_element_image">
                        <img
                            src="/DesingBlueArchiveReviews.webp"
                            alt="Desing Blue Archive Reviews"
                            width="266.656px"
                            height="150px"
                        />
                    </div>
                </div>
                <hr class="jobs_element_separator" />
                <div class="jobs_element_secundary">
                    <div class="jobs_element_secondary_links">
                        <a
                            class="UrlsButtons"
                            href="https://youtu.be/w5U0PXK5GEw?si=XuBdQQPZyX3x9f68"
                            rel="external"
                            target="_blank">Demo</a
                        >
                    </div>
                    <div class="jobs_element_secondary_techs">
                        <img
                            class="jobs_element_secondary_techs_icons"
                            src="/CorelVectorLogo.webp"
                            width="30px"
                            height="30px"
                            alt="Corel Vector"
                            id="corelvector"
                        />
                        <p id="jobs_element_secondary_techs_name"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="studies">
        <h1 id="studies_title">Studies</h1>
        <ul id="studies_jobs">
            <li class="studies_job">
                <h2 class="studies_job_title">Systems Engineer</h2>
                <h3 class="studies_job_company">
                    Minuto De Dios University Corporation | July 2023 – Present
                </h3>
            </li>
        </ul>
    </div>
    <style>
        #presentation {
            overflow: hidden;
            overflow-y: hidden;
            height: 0;
            display: flex;
            transition: all 0.1s ease;
        }
        #presentation_aside {
            overflow: hidden;
            left: 0;
            display: flex;
            overflow-y: overlay;
            transition: all 0.2s ease;
            position: relative;
            box-sizing: border-box;
            width: 90%;
            padding: 25px 10px 0;
            align-items: center;
        }

        #about_title {
            display: flex;
        }

        #about_title h1 {
            margin: 10px 0;
        }

        #MiniProfileMain {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #MiniProfileMainPicture {
            transition: all 0.2s ease;
            width: 250px;
            border-radius: 8px;
        }

        #MiniProfileMainName,
        #MiniProfileMainDescription {
            text-align: center;
            margin: 20px 0 0 0;
            width: 300px;
        }

        #MiniProfileMainName {
            font-size: 17px;
            font-weight: 200;
            text-align: center;
        }

        #MiniProfileComplement {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #MiniProfileComplement-SpotifyActivity {
            transition: all 0.2s ease;
            width: 280px;
            border-radius: 8px;
            padding: 10px;
            background-color: var(--IconsLinks-Active);
        }

        #MiniProfileComplement-Links {
            margin: 16px 0 0 0;
            list-style: none;
            display: flex;
            padding: 0;
            width: 300px;
            justify-content: space-evenly;
        }

        #AsideFacebookLink,
        #AsideGithubLink,
        #AsideLinkedinLink,
        #AsideMailLink {
            display: grid;
            place-items: center;
            width: 100%;
            height: 100%;
        }

        .MiniProfileComplement-LinksItems {
            transition: all 0.2s ease;
            width: 60px;
            border-radius: 8px;
            height: 60px;
            background-color: var(--IconsLinks-Inactive);
        }

        .MiniProfileComplement-LinksItems:hover {
            background-color: var(--IconsLinks-Active);
        }

        #about_links {
            display: flex;
            justify-content: space-evenly;
        }

        #about_comissions,
        #about_cv {
            transition: all 0.2s ease;
            display: flex;
            border-radius: 8px;
            text-align: center;
            width: 200px;
            height: 45px;
            text-decoration: none;
            background-color: var(--backgroundColorMain);
            border: 1px solid var(--colorText);
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            font-size: large;
        }
        #about_cv p {
            margin: 0 10px 0 0;
        }
        #studies_jobs,
        #experience_jobs {
            list-style: none;
        }
        .studies_job,
        .experience_job {
            position: relative;
        }
        .studies_job:after,
        .experience_job:after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: var(--spice-border-active);
            top: 17px;
            left: -27px;
        }
        .studies_job_title,
        .experience_job_title {
            font-size: larger;
            margin: 0;
        }
        .studies_job_company,
        .experience_job_company {
            font-size: medium;
            font-weight: 100;
            font-style: italic;
            margin: 10px 0 0 0;
        }
        .studies_job_text,
        .experience_job_text {
            margin: 10px 0 0 0;
            font-size: 13.5px;
            text-wrap: wrap;
        }

        #jobs_elements,
        #projects_elements {
            box-sizing: border-box;
            padding: 0 10px;
        }
        .jobs_element,
        .projects_element {
            display: flex;
            height: 200px;
            background-color: var(--IconsLinks-Active);
            border-radius: 8px;
            overflow: hidden;
            flex-direction: column;
        }
        .jobs_element:nth-child(even),
        .projects_element:nth-child(even) {
            margin: 10px 0;
        }
        .jobs_element_data,
        .projects_element_data {
            height: 150px;
            display: flex;
        }
        .jobs_element_secundary,
        .projects_element_secundary {
            width: calc(100% - 40px);
            height: 50px;
            padding: 0 20px;
            display: flex;
            align-items: center;
        }
        .jobs_element_secundary a,
        .projects_element_secundary a {
            transition: all 0.2s ease;
            text-decoration: none;
            padding: 5px 15px;
            border-radius: 4px;
            background: var(--colorText);
            color: #000000;
            font-weight: bold;
            font-size: large;
            margin: 0 15px 0 0;
        }

        .projects_element_secondary_links,
        .jobs_element_secondary_links,
        .projects_element_secondary_techs,
        .jobs_element_secondary_techs {
            display: flex;
            width: 50%;
        }

        .projects_element_secondary_links,
        .jobs_element_secondary_links {
            justify-content: flex-start;
        }

        .projects_element_secondary_techs,
        .jobs_element_secondary_techs {
            position: relative;
            justify-content: flex-end;
        }

        .projects_element_secondary_techs img,
        .jobs_element_secondary_techs img {
            margin: 0 0 0 15px;
            width: 30px;
            height: 30px;
        }

        #projects_element_secondary_techs_name,
        #jobs_element_secondary_techs_name {
            display: none;
            max-width: 225px;
            min-width: 225px;
            place-content: center;
            background: var(--backgroundColorMain);
            height: 40px;
            font-size: large;
            position: absolute;
            margin: 0;
            top: -60px;
        }

        .jobs_element_separator,
        .projects_element_separator {
            width: 100%;
            margin: 0;
            border: 1px solid #ffffff;
        }
        .jobs_element_content,
        .projects_element_content {
            box-sizing: border-box;
            padding: 20px;
        }
        .jobs_element_content_title,
        .projects_element_content_title {
            display: flex;
        }
        .jobs_element_content_title h2,
        .projects_element_content_title h2 {
            font-size: larger;
            margin: 0;
        }
        .jobs_element_content_title img,
        .projects_element_content_title img {
        }
        .projects_element_content_dates {
            display: flex;
            align-items: center;
        }
        .jobs_element_content_dates h3,
        .projects_element_content_dates h3 {
            font-size: medium;
            font-weight: 100;
            font-style: italic;
            margin: 10px 0 0 0;
        }
        .SpanStatus,
        .SpanStatus {
            margin: 0 0 0 10px;
            padding: 2.5px 5px;
            border-radius: 5px;
        }
        .SpanStatus.complete,
        .SpanStatus.complete {
            background-color: #850083;
        }
        .SpanStatus.continue,
        .SpanStatus.continue {
            background-color: #0016ff;
        }
        .SpanStatus.pause,
        .SpanStatus.pause {
            background-color: #b30000;
        }
        .jobs_element_content_descripcion,
        .projects_element_content_descripcion {
        }
        .jobs_element_content_descripcion p,
        .projects_element_content_descripcion p {
            margin: 10px 0 0 0;
            font-size: 13.5px;
            text-wrap: wrap;
        }
        .jobs_element_image {
            aspect-ratio: 16/9;
            height: 150px;
        }
        .projects_element_image {
            width: 150px;
            height: 150px;
        }
        .jobs_element_image img {
            aspect-ratio: 16/9;
            height: 150px;
        }
        .projects_element_image img {
            width: 150px;
            height: 150px;
        }

        @media screen and (max-width: 1200px) {
            #presentation {
                height: 325px;
                justify-content: center;
            }

            #presentation::-webkit-scrollbar {
                overflow: hidden;
                width: 0px;
                box-sizing: border-box;
            }
        }

        @media screen and (max-width: 750px) {
            .projects_element_separator,
            .jobs_element_separator {
                display: none;
            }
            #experience_title,
            #studies_title,
            #jobs_title,
            #projects_title {
                text-align: center;
            }

            #about {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            #about_links {
                display: flex;
                justify-content: space-evenly;
            }

            #about_comissions,
            #about_cv {
                border: none;
                width: 100%;
                border-top: 3px solid var(--spice-border-active);
                padding: 0 20px;
                margin: 0 10px;
            }

            #about_text {
                text-wrap: pretty;
            }

            #presentation {
                height: 480px;
                justify-content: center;
            }

            #presentation_aside {
                display: flex;
                flex-direction: column;
            }
            .projects_element,
            .jobs_element {
                display: flex;
                height: auto;
                background-color: var(--IconsLinks-Active);
                border-radius: 8px;
                overflow: hidden;
                flex-direction: column;
            }
            .jobs_element_data {
                height: auto;
                flex-direction: column;
            }
            .jobs_element_image,
            .jobs_element_image img {
                aspect-ratio: 16/9;
                height: auto;
                width: 100%;
            }
            .jobs_element_secondary_techs,
            .projects_element_secondary_techs {
                position: relative;
            }
            .projects_element_secundary,
            .jobs_element_secundary {
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: column-reverse;
                padding: 0;
                align-items: center;
            }

            .projects_element_secondary_links,
            .projects_element_secondary_techs,
            .jobs_element_secondary_links,
            .jobs_element_secondary_techs {
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50px;
            }

            .projects_element_secondary_links,
            .jobs_element_secondary_links {
                border-top: 2px solid var(--colorText);
            }

            .projects_element_secundary a,
            .jobs_element_secundary a {
                width: 100%;
                height: 100%;
                transition: all 0.2s ease;
                text-decoration: none;
                align-content: center;
                text-align: center;
                border: none;
                padding: 0;
                border-radius: 0;
                font-weight: bold;
                font-size: large;
                margin: 0;
            }
        }

        @media screen and (max-width: 575px) {
            .projects_element_data {
                height: auto;
                align-items: center;
                flex-direction: column;
            }
            .projects_element_image,
            .projects_element_image img {
                display: none;
            }
            .projects_element {
                height: auto;
            }
            .projects_element_data {
                height: auto;
            }

            .projects_element_content_dates h3 {
                line-height: 1.5;
            }
        }
    </style>
</Layout>
