---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joan Cardozo | Portafolio Web">
    ddkujsahdjkashdjkashdjkahdjkahdkas
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="about">
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
        ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd ljfhjkdfhjkdsahfjksdhfjkashfjkshfkshfjksd
</Layout>
