---
import { getLangFromUrl, useTranslations } from "../utils/utils";

const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);
---

<nav>
    <div id="NavLogo">
        <img
            src="https://portfolio-six-sooty-93.vercel.app/favicon.svg"
            alt="Joan Sebastian Cardozo Salinas Logo"
            id="MilleniumLogoImg"
            width="100px"
            height="100px"
        />
    </div>
    <div id="NavControls">
        <ul id="NavControlsList">
            <li class="NavControlsList-Items">
                <h3>{translate("nav.about")}</h3>
            </li>
            <li class="NavControlsList-Items">
                <h3>{translate("nav.experience")}</h3>
            </li>
            <li class="NavControlsList-Items">
                <h3>{translate("nav.projects")}</h3>
            </li>
        </ul>
    </div>
    <div id="Navlang">
        <img
            src="https://portfolio-six-sooty-93.vercel.app/spanish.webp"
            alt="Español Logo"
            id="LanguageLogoImg"
            width="100px"
            height="100px"
        />
    </div>
</nav>
<style>
    nav {
        padding: 10px 0 10px 0;
        display: flex;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        box-sizing: border-box;
        border-bottom: var(--border-width) var(--border-style)
            var(--spice-border-inactive);
    }

    #NavLogo {
        width: 130px;
        height: 80px;
        display: grid;
        place-items: center;
    }

    #MilleniumLogoImg {
        width: 65px;
        height: 65px;
    }

    #NavControls {
        width: calc(100% - 130px);
    }

    #NavControlsList {
        padding: 0;
        display: flex;
        margin: 0;
        list-style: none;
        justify-content: space-evenly;
    }

    .NavControlsList-Items {
        width: 150px;
        text-align: center;
        height: 50px;
        box-sizing: border-box;
        display: grid;
        place-content: center;
        transition: all 0.2s ease;
        border-radius: 8px;
    }

    .NavControlsList-Items:hover {
        background-color: var(--IconsLinks-Active);
    }
</style>
