---
import Navbar from "../components/Navbar.astro";
import MiniProfile from "../components/MiniProfile.astro";
import {  } from '@vercel/analytics/server'

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="theme-color" content="#000000" />
        <link
            rel="apple-touch-icon"
            href="https://portfolio-six-sooty-93.vercel.app/logo512.png"
        />
        <link
            rel="manifest"
            href="https://portfolio-six-sooty-93.vercel.app/manifest.json"
        />
        <link
            rel="canonical"
            href="https://portfolio-six-sooty-93.vercel.app/"
        />
        <meta name="description" content="Amante de la tecnologia web" />
        <meta name="viewport" content="width=device-width" />
        <meta
            property="og:title"
            content="Joan Cardozo | FullStack Web Developer"
        />
        <meta
            property="og:image"
            content="https://portfolio-six-sooty-93.vercel.app/joancardozo.png"
        />
        <meta property="og:image:width" content="1280" />
        <meta property="og:image:height" content="720" />
        <meta
            property="og:url"
            content="https://portfolio-six-sooty-93.vercel.app/"
        />
        <meta
            property="og:site_name"
            content="Joan Cardozo | FullStack Web Developer"
        />
        <meta property="og:type" content="website" />
        <meta
            property="og:description"
            content="Sistema para enviar sus demos/partidas directamente al canal Znorux en Youtube"
        />
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="Joan Cardozo | FullStack Web Developer"
        />
        <meta
            name="twitter:description"
            content="Amante de la tecnologia web"
        />
        <meta
            name="twitter:image"
            content="https://portfolio-six-sooty-93.vercel.app/joancardozo.png"
        />
        <meta
            name="twitter:image:alt"
            content="Joan Cardozo | FullStack Web Developer"
        />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <MiniProfile />
            <div id="Content">
                <Navbar />
                <div id="ContentScroll">
                    <slot />
                </div>
            </div>
        </main>
    </body>
</html>
<style is:global>
    @font-face {
        font-family: "CascadiaMono";
        src: url("/CascadiaMono.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    :root {
        --colorText: #ffffff;
        --backgroundColorMain: #121212;

        --border-radius: 0px;
        --border-width: 3px;
        --border-style: solid;
        --spice-header: #535353;
        --spice-border-active: #ff0000;
        --spice-border-active-t: #ff000081;

        --IconsLinks-Active: #1a1a1a;
        --IconsLinks-Inactive: transparent;
    }

    * {
        font-family: CascadiaMono;
        color: var(--colorText);
    }

    body {
        background-image: radial-gradient(
            ellipse 80% 80% at 50% -20%,
            #7877c64d,
            #fff0
        ); /* var(--backgroundColorMain) */
        --tw-bg-opacity: 1;
        background-color: rgb(10 10 10 / var(--tw-bg-opacity));
        display: flex;
        margin: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }

    main {
        width: 1200px;
        margin: 25px 0;
        display: flex;
    }

    #Content {
        transition: all 0.2s ease;
        width: calc(100% - 320px);
        height: 100%;
        margin: 0 0 0 20px;
        position: relative;
        box-sizing: border-box;
        border-bottom: var(--border-width) var(--border-style)
            var(--spice-border-active);
    }

    #Content:hover {
        border-bottom: var(--border-width) var(--border-style)
            var(--spice-border-active);
    }

    #Content:hover nav {
        transition: all 0.2s ease;
        border-bottom: var(--border-width) var(--border-style)
            var(--spice-border-active);
    }

    #ContentScroll {
        height: calc(100% - 100px);
        overflow: hidden;
        box-sizing: border-box;
        overflow-y: auto;
        text-wrap: balance;
        padding: 0 20px;
    }

    #ContentScroll::-webkit-scrollbar {
        overflow: hidden;
        width: 15px;
        box-sizing: border-box;
    }

    #ContentScroll::-webkit-scrollbar-track {
        background-color: transparent;
        width: 15px;
    }

    #ContentScroll::-webkit-scrollbar-thumb {
        border-top: 10px solid var(--backgroundColorMain);
        border-bottom: 10px solid var(--backgroundColorMain);
        border-left: 5px solid var(--backgroundColorMain);
        border-right: 5px solid var(--backgroundColorMain);
        background-color: #ffffff;
        width: 2px;
    }

    #ContentScroll::-webkit-scrollbar-thumb:hover {
        border-left: 3px solid var(--backgroundColorMain);
        border-right: 3px solid var(--backgroundColorMain);
    }
</style>
